a {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: lightgray;
  }
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  cursor: pointer;
}
